.bookContent {
  background-repeat: none;
  background-size: cover;
}

.ikigaiBook {
  background-image: url("../img/ikigaiBook.png");
}

.atomicHabbit {
  background-image: url("../img/AtomicHabbit.png");
}

.ikigaiBook2 {
  background-image: url("../img/Ikigai2.png");
}

.whomoved {
  background-image: url("../img/whomovedmycheese.png");
}

.filosofiTeras {
  background-image: url("../img/FilosofiTeras.png");
}

.hfp {
  background-image: url("../img/7hfp.png");
}

.thealhemist {
  background-image: url("../img/theaclhemist.png");
}

.thePower {
  background-image: url("../img/power.png");
}

.theCourage {
  background-image: url("../img/couragetobedisliked.png");
}

.theNoticer {
  background-image: url("../img/thenoticer.png");
}

.fihiMaFihi {
  background-image: url("../img/fihimafihi.png");
}

.theDesignEvery {
  background-image: url("../img/designeveryday.png");
}
