.topSection {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.imageProduct {
  padding: 40px;
  box-sizing: border-box;
  background-color: #242424;
  border: #565656 solid 1px;
  border-radius: 12px;
}

.imageProduct > img {
  width: 266px;
  height: 266px;
}

.infoProduct {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.linkProduct {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.taskSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.taskTitle {
  font-size: 24px;
  font-weight: 600;
}

.taskListCont {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
  row-gap: 40px;
}

.taskDesc {
  margin-top: 12px;
  line-height: 150%;
}

.sliderSection {
  width: 100%;
  height: 200px;
  position: relative;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

.sliderSection::-webkit-scrollbar {
  display: none;
}

.sliderSection .screenShotList {
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.3s left ease-in-out;
}

.sliderSection .screenShotItem {
  margin-right: 10px;
}

.sliderSection .screenShotItem:last-child {
  margin-right: 0;
}

.ctrl {
  text-align: center;
  margin-top: 5px;
}

.ctrl-btn {
  padding: 20px 20px;
  min-width: 50px;
  background: #fff;
  border: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;

  position: absolute;
  top: 50%;
  margin-top: -27.5px;
}

.ctrl-btn.pro-prev {
  left: 0;
}

.ctrl-btn.pro-next {
  right: 0;
}
