/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  animation: transitionIn 0.75s;
  background-color: #161616;
  color: #c0c0c0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Start Here */

/* Transition when reload start here */

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Font global using Fira Sans start here */
/* New CSS Start here */
html {
  font-family: "Fira Sans", sans-serif;
  /* background-image: url("../background.png"); */
}

.paragraph {
  font-size: 1rem;
  line-height: 150%;
}

/* New CSS End Here */

.titleContr {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.titleSection {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
}

.captionTitle q {
  font-weight: 300;
  font-style: italic;
}

.captionTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 1rem;
  color: #c0c0c0;
  line-height: 160%;
}

.textLogo {
  font-size: 32px;
  color: #fff;
}

.powerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  width: 17%;
  background: rgb(107, 148, 254);
  background: linear-gradient(
    0deg,
    rgba(107, 148, 254, 1) 0%,
    rgba(80, 170, 234, 1) 50%,
    rgba(27, 185, 219, 1) 100%
  );
  border-radius: 8px;
}

li {
  line-height: 150%;
}

.icon-list {
  margin-right: 12px;
  margin-top: 10px;
}

.linkButton {
  text-decoration: none;
}

.projectPict {
  width: 358px;
  height: 270px;
  margin: auto;
}

.labelUpdate {
  background-color: #fff;
  padding: 8px 4px;
  box-sizing: border-box;
  border-radius: 4px;
  background: rgb(94, 94, 94);
  background: linear-gradient(
    51deg,
    rgba(94, 94, 94, 1) 0%,
    rgba(174, 174, 174, 1) 100%
  );
  font-size: 16px;
  color: #fff;
}

.topExpl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sourceProduct {
  font-size: 20px;
  color: #c0c0c0;
  font-weight: 400;
}

a {
  color: #219df3;
}
