.icArrowBack {
  background: url("../icon/arrowBack.svg");
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
}

.iconRight {
  background: url("../icon/arrowRight.svg");
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
}

.iconLeft {
  background: url("../icon/arrowLeft.svg");
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
}
