.halallocal {
  background-image: url("../img/background-halalLocal.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.aimapproval {
  background-image: url("../img/background-aiimapproval.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.detail-aiimapproval {
  background-image: url("../img/detail-aiimapproval.png");
  background-repeat: no-repeat;
  background-size: contain;
}
