.halallocal {
  background-image: url("../img/showcaseHalallocal.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.aimapproval {
  background-image: url("../img/background-aiimapproval.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.detailAimapproval {
  background-image: url("../img/detail-aiimapproval.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.detailHalalLocal {
  background-image: url("../img/detail-halalLocal.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.showcaseHalalLocal {
  background-image: url("../img/showcaseHalallocal.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.liveMobilize {
  background-image: url("../img/showcaseLivemobilize.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.detailliveMobilize {
  background-image: url("../img/detail-livemobilize.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.detailBataraGuru {
  background-image: url("../img/detail-bataraguru.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.showcaseBataraGuru {
  background-image: url("../img/showcasebataraguru.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.showcaseEvos {
  background-image: url("../img/showcaseEvos.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.detailEvos {
  background-image: url("../img/detailaseEvos.png");
  background-repeat: no-repeat;
  background-size: contain;
}
