.projectSection {
  /* background-color: lightgray; */
}

.listProject {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 24px;
  row-gap: 24px;
}

.projectItem {
  background-color: #252525;
  width: 508px;
  height: 460px;
  border-radius: 12px;
  border: #565656 1px solid;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectTitle {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.ctaProject {
  width: 460px;
  height: 43px;
  background: rgb(10, 147, 241);
  background: linear-gradient(
    47deg,
    rgba(10, 147, 241, 1) 0%,
    rgba(84, 181, 248, 1) 100%
  );
  color: #fff;
  font-weight: 400;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
