.powerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.powerList {
  display: flex;
  justify-content: center;
  width: 1040px;
  gap: 24px;
  flex-wrap: wrap;
}

.powerDetail {
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 200px;
  background-color: #242424;
  border: #565656 solid 1px;
  width: 48%;
  height: fit-content;
  border-radius: 12px;
  padding: 24px;
  box-sizing: border-box;
}

.powerCont {
  display: flex;
  background-color: #242424;
  border: #565656 solid 1px;
  border-radius: 12px;
  gap: 24px;
  padding: 24px;
  width: 50%;
}

.stillLearn {
  color: #80FF7D;
  font-size: 16px;
  font-weight: 400;
  margin-left: 12px;
}

.powDetCont {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 85%;
}

.powerTitle {
  font-size: 20px;
  color: #c0c0c0;
  font-weight: 500;
}

.powerCaption {
  font-size: 16px;
  color: #c0c0c0;
  line-height: 160%;
}
